* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

p {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Raleway', sans-serif !important;
  background-image: url("../images/site-back.jpg"); }

.site-container {
  max-width: 1368px;
  margin: auto; }

.site-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }

.site-header {
  flex-shrink: 0;
  background-color: #FFFFFF; }
  .site-header .header-top {
    padding: .5rem 0rem;
    background-color: #00a175; }
    .site-header .header-top .header-social {
      padding: 0rem .5rem; }
      .site-header .header-top .header-social .social-link {
        font-size: .7rem;
        color: #FFFFFF;
        border-left: 2px solid #FFFFFF;
        padding: 0rem .7rem; }
      .site-header .header-top .header-social .social-link:last-child {
        border-right: 2px solid #FFFFFF; }
    .site-header .header-top .header-lang .language {
      padding: 0rem .2rem; }
      .site-header .header-top .header-lang .language img {
        width: 90%; }
  .site-header .header-middle {
    padding: 1rem 0rem; }
    .site-header .header-middle .site-logo .logo {
      width: 25%; }
    .site-header .header-middle .site-search .search-container {
      display: flex;
      justify-content: flex-end;
      align-items: center; }
    .site-header .header-middle .site-search .search-input {
      border-radius: 20px;
      color: #a0d18c;
      width: 250px;
      height: 30px;
      outline: none;
      padding: 1rem;
      border: 2px solid #00a175; }
      .site-header .header-middle .site-search .search-input::placeholder {
        color: #00a175; }
    .site-header .header-middle .site-search .search-button {
      border: none;
      border-radius: 50%;
      outline: none;
      width: 30px;
      height: 30px;
      padding: 1rem;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #00a175; }
  .site-header .header-bottom .navbar .nav-link {
    color: #0a0c0d !important;
    text-transform: uppercase;
    font-weight: 700 !important;
    font-family: 'Raleway', sans-serif;
    border-bottom: 2px solid #FFFFFF;
    transition: color, border 0.3s ease;
    border-radius: 0px; }
    .site-header .header-bottom .navbar .nav-link:hover {
      color: #00a175;
      border-bottom: 2px solid #00a175; }
  .site-header .header-bottom .navbar .navbar-toggler .navbar-toggler-icon {
    background-image: url("../images/hamburger.png") !important; }

.site-main {
  flex: 1 0 auto; }
  .site-main .site-slider .owl-main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .site-main .site-slider .owl-main .owl-dots {
      position: absolute;
      display: flex;
      flex-direction: column;
      right: 2.5rem; }
      .site-main .site-slider .owl-main .owl-dots button {
        outline: none; }
        .site-main .site-slider .owl-main .owl-dots button span {
          background-color: #00a175;
          padding: .4rem; }
  .site-main .site-slider .slider-item .slider-image-container {
    position: relative; }
    .site-main .site-slider .slider-item .slider-image-container .slider-image {
      width: 100%;
      display: block; }
    .site-main .site-slider .slider-item .slider-image-container::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      background: rgba(0, 0, 0, 0.5); }
  .site-main .site-slider .slider-item .slider-info img {
    display: none; }
  .site-main .site-slider .slider-item .slider-info .slider-title {
    position: absolute;
    width: 100%;
    text-align: justify;
    font-size: .7rem;
    font-weight: 400;
    color: #00a175;
    bottom: 0;
    background-color: #FFFFFF;
    padding: 0.5rem; }
  .site-main .site-category .post-category {
    color: #00a175;
    font-size: 1.5rem !important; }
  .site-main .site-category .post {
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem; }
    .site-main .site-category .post img {
      width: 100%;
      display: block;
      border-radius: 10px; }
    .site-main .site-category .post .post-title {
      flex-shrink: 0; }
    .site-main .site-category .post .post-description {
      flex: 1 0 auto; }
    .site-main .site-category .post .post-link {
      position: relative;
      background-color: #f7f7f7;
      flex-shrink: 0; }
      .site-main .site-category .post .post-link .post-link-more {
        font-size: 1rem;
        color: #0a0c0d;
        font-weight: 600;
        padding: 0rem 1rem; }
      .site-main .site-category .post .post-link .post-link-arrow {
        position: absolute;
        right: 32px;
        color: #FFFFFF;
        font-size: 2.5rem; }
      .site-main .site-category .post .post-link .link {
        border-bottom: 60px solid #00a175;
        border-left: 30px solid transparent;
        border-right: 0px solid transparent;
        height: 0;
        width: 80px; }
  .site-main .site-resources .resources-image-container {
    position: relative;
    background-color: #00a175; }
    .site-main .site-resources .resources-image-container .resources-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: 700;
      font-size: 1rem;
      color: #0a0c0d;
      width: 80%; }
    .site-main .site-resources .resources-image-container .resources-date {
      position: absolute;
      bottom: 15px;
      left: 60px;
      font-weight: 400;
      color: #0a0c0d; }
    .site-main .site-resources .resources-image-container .resources-image {
      opacity: 1;
      display: block;
      width: 100%;
      height: auto;
      transition: .5s ease;
      backface-visibility: hidden; }
    .site-main .site-resources .resources-image-container .resources-overlay {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center; }
    .site-main .site-resources .resources-image-container .resources-icon {
      color: white;
      font-size: 2rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
      background-color: #FFFFFF;
      padding: .5rem;
      color: #00a175;
      border-radius: 10px; }
    .site-main .site-resources .resources-image-container:hover .resources-image {
      opacity: 0.3; }
    .site-main .site-resources .resources-image-container:hover .resources-overlay {
      opacity: 1; }
  .site-main .site-media .media-container {
    border-radius: 10px;
    background-color: #FFFFFF;
    transition: all 0.3s ease; }
    .site-main .site-media .media-container .media-image {
      transform: scale(1); }
    .site-main .site-media .media-container .media-info {
      padding: 1rem;
      position: relative; }
      .site-main .site-media .media-container .media-info .media-date {
        color: #00a175; }
      .site-main .site-media .media-container .media-info .media-title {
        color: #0a0c0d;
        font-size: 1rem;
        font-weight: 600; }
    .site-main .site-media .media-container:hover .media-image {
      transform: scale(1.1); }

.site-footer {
  flex-shrink: 0; }
  .site-footer .footer-bottom {
    background-color: #00a175;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .site-footer .footer-bottom .footer-social {
      padding: 0rem .5rem;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .site-footer .footer-bottom .footer-social .footer-social-link {
        font-size: .7rem;
        color: #FFFFFF;
        padding: 0rem .7rem; }

@media (min-width: 768px) {
  .site-header .header-top {
    padding: .5rem 0rem;
    background-color: #00a175; }
    .site-header .header-top .header-social {
      padding: 0rem .5rem; }
      .site-header .header-top .header-social .social-link {
        font-size: 1rem;
        color: #FFFFFF;
        border-left: 2px solid #FFFFFF;
        padding: 0rem 1rem; }
      .site-header .header-top .header-social .social-link:last-child {
        border-right: 2px solid #FFFFFF; }
    .site-header .header-top .header-lang .language {
      padding: 0rem .5rem; }
  .site-main .site-slider .slider-item .slider-image-container {
    position: relative; }
    .site-main .site-slider .slider-item .slider-image-container .slider-image {
      width: 100%;
      display: block; }
    .site-main .site-slider .slider-item .slider-image-container::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      background: rgba(0, 0, 0, 0.5); }
  .site-main .site-slider .slider-item .slider-info {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; }
    .site-main .site-slider .slider-item .slider-info img {
      display: block; }
    .site-main .site-slider .slider-item .slider-info .slider-title {
      position: absolute;
      width: 65%;
      font-size: 1.5rem;
      font-weight: 600;
      color: #00a175;
      border-bottom: 1px solid #7777;
      text-align: center;
      bottom: auto; }
  .site-main .site-category .post-category {
    color: #00a175;
    font-size: 2.5rem !important; }
  .site-main .site-category .post {
    border-radius: 10px;
    background-color: #FFFFFF;
    cursor: pointer; }
    .site-main .site-category .post img {
      width: 100%;
      display: block;
      border-radius: 10px; }
    .site-main .site-category .post .post-title {
      font-size: 1.7rem;
      color: #0a0c0d;
      font-weight: 700;
      transition: color 0.3s ease; }
    .site-main .site-category .post:hover .post-title {
      color: #00a175; }
  .site-main .site-resources .resources-image-container {
    position: relative;
    background-color: #00a175; }
    .site-main .site-resources .resources-image-container .resources-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: 700;
      font-size: 1.5rem;
      color: #0a0c0d;
      width: 80%; }
    .site-main .site-resources .resources-image-container .resources-date {
      position: absolute;
      bottom: 15px;
      left: 60px;
      font-weight: 600;
      color: #0a0c0d; }
    .site-main .site-resources .resources-image-container .resources-image {
      opacity: 1;
      display: block;
      width: 100%;
      height: auto;
      transition: .5s ease;
      backface-visibility: hidden; }
    .site-main .site-resources .resources-image-container .resources-overlay {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center; }
    .site-main .site-resources .resources-image-container .resources-icon {
      color: white;
      font-size: 3rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
      background-color: #FFFFFF;
      padding: .7rem;
      color: #00a175;
      border-radius: 10px; }
    .site-main .site-resources .resources-image-container:hover .resources-image {
      opacity: 0.3; }
    .site-main .site-resources .resources-image-container:hover .resources-overlay {
      opacity: 1; } }
