* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

image {
  display: block;
  width: 100%; }

a {
  text-decoration: none; }

.site-container {
  max-width: 1368px;
  margin: auto; }

header .header-top {
  padding: .5rem 0rem;
  background-color: #00a175; }
  header .header-top .header-social .social-link {
    color: #FFFFFF;
    border-left: 2px solid #FFFFFF;
    padding: 0rem 1rem; }
  header .header-top .header-social .social-link:last-child {
    border-right: 2px solid #FFFFFF; }
  header .header-top .header-lang .language {
    padding: 0rem .5rem; }

header .header-middle {
  padding: .5rem 0rem; }
