$brand-color-main: #00a175;
$default-color-1: #0a0c0d;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $default-color-1;
}

ul {
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Exo", sans-serif !important;
  background-image: url("../../images/site-back.jpg");
}

.site-container {
  max-width: 1368px;
  margin: auto;
}

.site-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.site-header {
  flex-shrink: 0;
  background-color: #ffffff;

  .header-top {
    padding: 0.5rem 0rem;
    background-color: $brand-color-main;

    .header-social {
      padding: 0rem 0.5rem;
      .social-link {
        font-size: 0.7rem;
        color: #ffffff;
        border-left: 2px solid #ffffff;
        padding: 0rem 0.7rem;
      }
      .social-link:last-child {
        border-right: 2px solid #ffffff;
      }
    }

    .header-lang {
      .language {
        padding: 0rem 0.2rem;
        img {
          width: 90%;
        }
      }
    }
  }

  .header-middle {
    padding: 1rem 0rem;

    .site-logo {
      .logo {
        width: 25%;
      }
    }

    .site-search {
      .search-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }

      .search-input {
        border-radius: 20px;
        color: #a0d18c;
        width: 250px;
        height: 30px;
        outline: none;
        padding: 1rem;
        border: 2px solid $brand-color-main;

        &::placeholder {
          color: $brand-color-main;
        }
      }

      .search-button {
        border: none;
        border-radius: 50%;
        outline: none;
        width: 30px;
        height: 30px;
        padding: 1rem;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $brand-color-main;
      }
    }
  }

  .header-bottom {
    .navbar {
      .nav-link {
        color: #0a0c0d !important;
        text-transform: uppercase;
        font-weight: 700 !important;
        font-family: "Exo", sans-serif !important;
        border-bottom: 2px solid #ffffff;
        transition: color, border 0.3s ease;
        border-radius: 0px;

        &:hover {
          color: $brand-color-main;
          border-bottom: 2px solid $brand-color-main;
        }
      }

      .navbar-toggler {
        .navbar-toggler-icon {
          background-image: url("../../images/hamburger.png") !important;
        }
      }
    }
  }
}

.site-main {
  flex: 1 0 auto;

  .site-slider {
    .owl-main {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      border-radius: 20px;
      .owl-dots {
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 2.5rem;

        button {
          outline: none;

          span {
            background-color: $brand-color-main;
            padding: 0.4rem;
          }
        }
      }
    }

    .slider-item {
      .slider-image-container {
        position: relative;

        .slider-image {
          width: 100%;
          display: block;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          z-index: 1;
          //background: rgba(0, 0, 0, 0.5);
        }
      }

      .slider-info {
        img {
          display: none;
        }

        .slider-title {
          position: absolute;
          width: 100%;
          text-align: justify;
          font-size: 0.7rem;
          font-weight: 400;
          color: $brand-color-main;
          bottom: 0;
          background-color: #ffffff;
          padding: 0.5rem;
        }
      }
    }
  }

  .site-category {
    .post-category {
      color: $brand-color-main;
      font-size: 1.5rem !important;
    }

    .post {
      border-radius: 10px;
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      img {
        width: 100%;
        display: block;
        border-radius: 10px;
      }

      .post-title {
        flex-shrink: 0;
      }

      .post-description {
        flex: 1 0 auto;
        color: $default-color-1;
      }

      .post-link {
        position: relative;
        background-color: #f7f7f7;
        flex-shrink: 0;

        .post-link-more {
          font-size: 1rem;
          color: #0a0c0d;
          font-weight: 600;
          padding: 0rem 1rem;
        }

        .post-link-arrow {
          position: absolute;
          right: 32px;
          color: #ffffff;
          font-size: 2.5rem;
        }

        .link {
          border-bottom: 60px solid $brand-color-main;
          border-left: 30px solid transparent;
          border-right: 0px solid transparent;
          height: 0;
          width: 80px;
        }
      }
    }
  }

  .site-resources {
    .resources-image-container {
      position: relative;
      background-color: $brand-color-main;

      .resources-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 700;
        font-size: 1rem;
        color: $default-color-1;
        width: 80%;
      }

      .resources-date {
        position: absolute;
        bottom: 15px;
        left: 60px;
        font-weight: 400;
        color: $default-color-1;
      }

      .resources-image {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: 0.5s ease;
        backface-visibility: hidden;
      }

      .resources-overlay {
        transition: 0.5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
      }

      .resources-icon {
        color: white;
        font-size: 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        background-color: #ffffff;
        padding: 0.5rem;
        color: $brand-color-main;
        border-radius: 10px;
      }

      &:hover {
        .resources-image {
          opacity: 0.3;
        }

        .resources-overlay {
          opacity: 1;
        }
      }
    }
  }

  .site-media {
    .media-container {
      border-radius: 10px;
      background-color: #ffffff;
      transition: all 0.3s ease;

      .media-image {
        transition: transform 0.3s ease;
        transform: scale(1);
      }

      .media-info {
        padding: 1rem;
        position: relative;

        .media-date {
          color: $brand-color-main;
        }

        .media-title {
          color: $default-color-1;
          font-size: 1rem;
          font-weight: 600;
        }
      }

      &:hover .media-image {
        transform: scale(1.1);
      }
    }
    .owl-dots {
      display: none;
    }
  }

  .site-get-involved {
    .involved-container {
      background-color: #ffffff;
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 200px;
      .involved-image {
        width: 25%;
        display: block;
      }
      .involved-title {
        text-align: center;
        font-weight: 600;
        font-size: 1.2rem;
        color: $default-color-1;
      }
    }
  }
}

.site-footer {
  flex-shrink: 0;

  .footer-top {
    background-color: #ffffff;
    padding: 1rem;
    .site-container {
      display: flex;
      flex-direction: column;
      .footer-top-info {
        order: 2;
        .footer-logo-container {
          .footer-logo {
            width: 70%;
            display: block;
            margin: auto;
          }
        }
        .top-info {
          text-align: justify;
          font-style: normal;
          font-weight: 600;
          font-size: 1rem;
          color: $default-color-1;
          padding: 0.5rem 0rem;
        }
      }

      .footer-top-links {
        order: 1;

        .footer-link-title {
          font-size: 1.5rem;
          color: $default-color-1;
          font-weight: 600;
          margin: 0;
          text-align: center;
        }
        display: flex;
        flex-direction: column;
        .footer-links {
          padding: 1rem 0rem;
          margin: 0;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          .footer-link-element {
            flex: 1 100px;
            .footer-link {
              display: block;
              padding: 0.5rem 0rem;
              font-size: 1rem;
              font-weight: 600;
              color: $default-color-1;
              text-align: center;
            }
          }
        }
      }
    }
  }

  .footer-bottom {
    background-color: $brand-color-main;
    .site-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .footer-copyright {
      padding: 0rem 0.7rem;
      color: #ffffff;
      font-size: 1rem;
      font-weight: 600;
    }
    .footer-social {
      padding: 1rem 0rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .footer-social-link {
        font-size: 1rem;
        color: #ffffff;
        padding: 0rem 0.7rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .site-header {
    .header-top {
      padding: 0.5rem 0rem;
      background-color: $brand-color-main;

      .header-social {
        padding: 0rem 0.5rem;

        .social-link {
          font-size: 1rem;
          color: #ffffff;
          border-left: 2px solid #ffffff;
          padding: 0rem 1rem;
        }

        .social-link:last-child {
          border-right: 2px solid #ffffff;
        }
      }

      .header-lang {
        .language {
          padding: 0rem 0.5rem;
        }
      }
    }
  }

  .site-main {
    .site-slider {
      .slider-item {
        .slider-image-container {
          position: relative;

          .slider-image {
            width: 100%;
            display: block;
          }

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 1;
            background: rgba(0, 0, 0, 0.5);
          }
        }

        .slider-info {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            display: block;
          }

          .slider-title {
            position: absolute;
            width: 65%;
            font-size: 1.5rem;
            font-weight: 600;
            color: $brand-color-main;
            border-bottom: 1px solid #7777;
            text-align: center;
            bottom: auto;
          }
        }
      }
    }

    .site-category {
      .post-category {
        color: $brand-color-main;
        font-size: 2.5rem !important;
      }

      .post {
        border-radius: 10px;
        background-color: #ffffff;
        cursor: pointer;

        img {
          width: 100%;
          display: block;
          border-radius: 10px;
        }

        .post-title {
          font-size: 1.7rem;
          color: $default-color-1;
          font-weight: 700;
          transition: color 0.3s ease;
        }

        .post-link {
        }

        &:hover .post-title {
          color: $brand-color-main;
        }
      }
    }

    .site-resources {
      .resources-image-container {
        position: relative;
        background-color: $brand-color-main;

        .resources-title {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-weight: 700;
          font-size: 1.5rem;
          color: $default-color-1;
          width: 80%;
        }

        .resources-date {
          position: absolute;
          bottom: 15px;
          left: 60px;
          font-weight: 600;
          color: $default-color-1;
        }

        .resources-image {
          opacity: 1;
          display: block;
          width: 100%;
          height: auto;
          transition: 0.5s ease;
          backface-visibility: hidden;
        }

        .resources-overlay {
          transition: 0.5s ease;
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          text-align: center;
        }

        .resources-icon {
          color: white;
          font-size: 3rem;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          text-align: center;
          background-color: #ffffff;
          padding: 0.7rem;
          color: $brand-color-main;
          border-radius: 10px;
        }

        &:hover {
          .resources-image {
            opacity: 0.3;
          }

          .resources-overlay {
            opacity: 1;
          }
        }
      }
    }

    .site-media {
      .medias {
        position: relative;
      }
      .owl-media {
        display: flex;
        width: 90%;
        margin: auto;
        align-items: center;
        position: initial;
        .owl-stage-outer {
          position: initial;
        }
        .owl-nav {
          position: absolute;
          display: block;
          width: 100%;
          left: 0;
          display: flex;
          justify-content: space-between;
          margin: 0;
          button {
            background-color: $brand-color-main;
            padding: 1rem;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative !important;
            outline: none;
            span {
              color: #ffffff;
              position: absolute;
              font-size: 3rem;
              position: absolute;
              top: 43%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
      .media-container {
        border-radius: 10px;
        background-color: #ffffff;
        transition: all 0.3s ease;

        .media-image {
          transition: transform 0.3s ease;
          transform: scale(1);
        }

        .media-info {
          padding: 1rem;
          position: relative;

          .media-date {
            color: $brand-color-main;
          }

          .media-title {
            color: $default-color-1;
            font-size: 1rem;
            font-weight: 600;
          }
        }

        &:hover .media-image {
          transform: scale(1.1);
        }
      }
    }

    .site-get-involved {
      .involved-container {
        padding: 2rem;
        .involved-image {
          width: 50%;
        }
        .involved-title {
          font-size: 1.2rem;
        }
      }
    }
  }

  .site-footer {
    .footer-top {
      padding: 2rem 0rem;
      .site-container {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .footer-logo-container,
        .footer-link-title {
          height: 100px;
        }
        .footer-top-info {
          order: 1;
          width: 40%;
          .footer-logo-container {
            .footer-logo {
              width: 70%;
              margin: inherit;
            }
          }
          .top-info {
            font-size: 1.2rem;
            font-weight: 600;
            font-style: italic;
            text-align: justify;
            color: $default-color-1;
            padding: 1rem 0rem;
          }
        }
        .footer-top-links {
          width: 40%;
          order: 2;
          display: flex;
          flex-direction: column;
          .footer-link-title {
            font-size: 2rem;
            color: $default-color-1;
            font-weight: 600;
            margin: 0;
            text-align: left;
          }
          .footer-links {
            padding: 1rem 0rem;
            margin: 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .footer-link-element {
              flex: 1 200px;
              .footer-link {
                display: block;
                padding: 0.5rem 0rem;
                font-size: 1.2rem;
                font-weight: 600;
                color: $default-color-1;
                text-align: initial;
              }
            }
          }
        }
      }
    }
  }
}
