* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #0a0c0d; }

ul {
  list-style: none; }

p {
  margin: 0;
  padding: 0; }

body {
  font-family: "Exo", sans-serif !important;
  background-image: url("../../images/site-back.jpg"); }

.site-container {
  max-width: 1368px;
  margin: auto; }

.site-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }

.site-header {
  flex-shrink: 0;
  background-color: #ffffff; }
  .site-header .header-top {
    padding: 0.5rem 0rem;
    background-color: #00a175; }
    .site-header .header-top .header-social {
      padding: 0rem 0.5rem; }
      .site-header .header-top .header-social .social-link {
        font-size: 0.7rem;
        color: #ffffff;
        border-left: 2px solid #ffffff;
        padding: 0rem 0.7rem; }
      .site-header .header-top .header-social .social-link:last-child {
        border-right: 2px solid #ffffff; }
    .site-header .header-top .header-lang .language {
      padding: 0rem 0.2rem; }
      .site-header .header-top .header-lang .language img {
        width: 90%; }
  .site-header .header-middle {
    padding: 1rem 0rem; }
    .site-header .header-middle .site-logo .logo {
      width: 25%; }
    .site-header .header-middle .site-search .search-container {
      display: flex;
      justify-content: flex-end;
      align-items: center; }
    .site-header .header-middle .site-search .search-input {
      border-radius: 20px;
      color: #a0d18c;
      width: 250px;
      height: 30px;
      outline: none;
      padding: 1rem;
      border: 2px solid #00a175; }
      .site-header .header-middle .site-search .search-input::placeholder {
        color: #00a175; }
    .site-header .header-middle .site-search .search-button {
      border: none;
      border-radius: 50%;
      outline: none;
      width: 30px;
      height: 30px;
      padding: 1rem;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #00a175; }
  .site-header .header-bottom .navbar .nav-link {
    color: #0a0c0d !important;
    text-transform: uppercase;
    font-weight: 700 !important;
    font-family: "Exo", sans-serif !important;
    border-bottom: 2px solid #ffffff;
    transition: color, border 0.3s ease;
    border-radius: 0px; }
    .site-header .header-bottom .navbar .nav-link:hover {
      color: #00a175;
      border-bottom: 2px solid #00a175; }
  .site-header .header-bottom .navbar .navbar-toggler .navbar-toggler-icon {
    background-image: url("../../images/hamburger.png") !important; }

.site-main {
  flex: 1 0 auto; }
  .site-main .site-slider .owl-main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 20px; }
    .site-main .site-slider .owl-main .owl-dots {
      position: absolute;
      display: flex;
      flex-direction: column;
      right: 2.5rem; }
      .site-main .site-slider .owl-main .owl-dots button {
        outline: none; }
        .site-main .site-slider .owl-main .owl-dots button span {
          background-color: #00a175;
          padding: 0.4rem; }
  .site-main .site-slider .slider-item .slider-image-container {
    position: relative; }
    .site-main .site-slider .slider-item .slider-image-container .slider-image {
      width: 100%;
      display: block; }
    .site-main .site-slider .slider-item .slider-image-container::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1; }
  .site-main .site-slider .slider-item .slider-info img {
    display: none; }
  .site-main .site-slider .slider-item .slider-info .slider-title {
    position: absolute;
    width: 100%;
    text-align: justify;
    font-size: 0.7rem;
    font-weight: 400;
    color: #00a175;
    bottom: 0;
    background-color: #ffffff;
    padding: 0.5rem; }
  .site-main .site-category .post-category {
    color: #00a175;
    font-size: 1.5rem !important; }
  .site-main .site-category .post {
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem; }
    .site-main .site-category .post img {
      width: 100%;
      display: block;
      border-radius: 10px; }
    .site-main .site-category .post .post-title {
      flex-shrink: 0; }
    .site-main .site-category .post .post-description {
      flex: 1 0 auto;
      color: #0a0c0d; }
    .site-main .site-category .post .post-link {
      position: relative;
      background-color: #f7f7f7;
      flex-shrink: 0; }
      .site-main .site-category .post .post-link .post-link-more {
        font-size: 1rem;
        color: #0a0c0d;
        font-weight: 600;
        padding: 0rem 1rem; }
      .site-main .site-category .post .post-link .post-link-arrow {
        position: absolute;
        right: 32px;
        color: #ffffff;
        font-size: 2.5rem; }
      .site-main .site-category .post .post-link .link {
        border-bottom: 60px solid #00a175;
        border-left: 30px solid transparent;
        border-right: 0px solid transparent;
        height: 0;
        width: 80px; }
  .site-main .site-resources .resources-image-container {
    position: relative;
    background-color: #00a175; }
    .site-main .site-resources .resources-image-container .resources-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: 700;
      font-size: 1rem;
      color: #0a0c0d;
      width: 80%; }
    .site-main .site-resources .resources-image-container .resources-date {
      position: absolute;
      bottom: 15px;
      left: 60px;
      font-weight: 400;
      color: #0a0c0d; }
    .site-main .site-resources .resources-image-container .resources-image {
      opacity: 1;
      display: block;
      width: 100%;
      height: auto;
      transition: 0.5s ease;
      backface-visibility: hidden; }
    .site-main .site-resources .resources-image-container .resources-overlay {
      transition: 0.5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center; }
    .site-main .site-resources .resources-image-container .resources-icon {
      color: white;
      font-size: 2rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
      background-color: #ffffff;
      padding: 0.5rem;
      color: #00a175;
      border-radius: 10px; }
    .site-main .site-resources .resources-image-container:hover .resources-image {
      opacity: 0.3; }
    .site-main .site-resources .resources-image-container:hover .resources-overlay {
      opacity: 1; }
  .site-main .site-media .media-container {
    border-radius: 10px;
    background-color: #ffffff;
    transition: all 0.3s ease; }
    .site-main .site-media .media-container .media-image {
      display: block;
      width: 100%;
      transition: transform 0.3s ease;
      transform: scale(1); }
    .site-main .site-media .media-container .media-info {
      padding: 1rem;
      position: relative; }
      .site-main .site-media .media-container .media-info .media-date {
        color: #00a175; }
      .site-main .site-media .media-container .media-info .media-title {
        color: #0a0c0d;
        font-size: 1rem;
        font-weight: 600; }
    .site-main .site-media .media-container .media-icon-container {
      display: none; }
    .site-main .site-media .media-container:hover .media-image {
      transform: scale(1.1); }
  .site-main .site-media .owl-dots {
    display: none; }
  .site-main .site-get-involved .involved-container {
    background-color: #ffffff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px; }
    .site-main .site-get-involved .involved-container .involved-image {
      width: 25%;
      display: block; }
    .site-main .site-get-involved .involved-container .involved-title {
      text-align: center;
      font-weight: 600;
      font-size: 1.2rem;
      color: #0a0c0d; }
  .site-main .site-page-header .page-header-container {
    position: relative;
    text-align: center; }
    .site-main .site-page-header .page-header-container .page-image {
      width: 100%;
      height: auto;
      display: block; }
    .site-main .site-page-header .page-header-container .page-name-container {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80%;
      transform: translate(-50%, -50%); }
      .site-main .site-page-header .page-header-container .page-name-container .page-name {
        color: #ffffff;
        position: relative;
        font-size: 1rem;
        padding: 0.5rem 2rem;
        z-index: 2; }
      .site-main .site-page-header .page-header-container .page-name-container .page-name-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.7;
        background-color: #00a175;
        z-index: 1; }
  .site-main .site-page-nav .page-nav-container {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    border-radius: 20px;
    background-color: #ffffff; }
    .site-main .site-page-nav .page-nav-container .page-nav-image {
      width: 50%;
      display: block; }
    .site-main .site-page-nav .page-nav-container .page-nav-icon-container {
      position: absolute;
      bottom: -10px;
      text-align: center;
      display: none; }
      .site-main .site-page-nav .page-nav-container .page-nav-icon-container .page-nav-icon {
        display: block;
        width: 30px;
        height: 30px;
        background-color: #00a175;
        color: #ffffff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center; }
    .site-main .site-page-nav .page-nav-container .page-active {
      display: flex; }
  .site-main .site-page-nav .page-nav-title {
    text-align: center;
    font-weight: 600;
    font-size: 0.6rem;
    color: #0a0c0d; }
  .site-main .media-watch-button {
    border-radius: 30px;
    color: #ffffff;
    font-weight: 600;
    background-color: #00a175;
    padding: 0.8rem;
    display: block;
    width: 12.5%;
    text-align: center;
    margin: 1rem 0rem;
    transition: all 0.3s ease !important;
    text-transform: uppercase; }
    .site-main .media-watch-button:hover {
      color: #00a175;
      background-color: #ffffff; }

.site-footer {
  flex-shrink: 0; }
  .site-footer .footer-top {
    background-color: #ffffff;
    padding: 1rem; }
    .site-footer .footer-top .site-container {
      display: flex;
      flex-direction: column; }
      .site-footer .footer-top .site-container .footer-top-info {
        order: 2; }
        .site-footer .footer-top .site-container .footer-top-info .footer-logo-container .footer-logo {
          width: 70%;
          display: block;
          margin: auto; }
        .site-footer .footer-top .site-container .footer-top-info .top-info {
          text-align: justify;
          font-style: normal;
          font-weight: 400;
          font-size: 1rem;
          color: #0a0c0d;
          padding: 0.5rem 0rem; }
      .site-footer .footer-top .site-container .footer-top-links {
        order: 1;
        display: flex;
        flex-direction: column; }
        .site-footer .footer-top .site-container .footer-top-links .footer-link-title {
          font-size: 1.5rem;
          color: #00a175;
          font-weight: 600;
          margin: 0;
          text-align: center; }
        .site-footer .footer-top .site-container .footer-top-links .footer-links {
          padding: 1rem 0rem;
          margin: 0;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap; }
          .site-footer .footer-top .site-container .footer-top-links .footer-links .footer-link-element {
            flex: 1 100px; }
            .site-footer .footer-top .site-container .footer-top-links .footer-links .footer-link-element .footer-link {
              display: block;
              padding: 0.5rem 0rem;
              font-size: 1rem;
              font-weight: 600;
              color: #0a0c0d;
              text-align: center; }
  .site-footer .footer-bottom {
    background-color: #00a175; }
    .site-footer .footer-bottom .site-container {
      display: flex;
      align-items: center;
      justify-content: space-between; }
    .site-footer .footer-bottom .footer-copyright {
      padding: 0rem 0.7rem;
      color: #ffffff;
      font-size: 0.9rem;
      font-weight: 600; }
    .site-footer .footer-bottom .footer-social {
      padding: 1rem 0rem;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .site-footer .footer-bottom .footer-social .footer-social-link {
        font-size: 0.9rem;
        color: #ffffff;
        padding: 0rem 0.7rem; }

@media (min-width: 768px) {
  .site-header .header-top {
    padding: 0.5rem 0rem;
    background-color: #00a175; }
    .site-header .header-top .header-social {
      padding: 0rem 0.5rem; }
      .site-header .header-top .header-social .social-link {
        font-size: 1rem;
        color: #ffffff;
        border-left: 2px solid #ffffff;
        padding: 0rem 1rem; }
      .site-header .header-top .header-social .social-link:last-child {
        border-right: 2px solid #ffffff; }
    .site-header .header-top .header-lang .language {
      padding: 0rem 0.5rem; }
  .site-main .site-slider .slider-item .slider-image-container {
    position: relative; }
    .site-main .site-slider .slider-item .slider-image-container .slider-image {
      width: 100%;
      display: block; }
    .site-main .site-slider .slider-item .slider-image-container::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      background: rgba(0, 0, 0, 0.5); }
  .site-main .site-slider .slider-item .slider-info {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; }
    .site-main .site-slider .slider-item .slider-info img {
      display: block; }
    .site-main .site-slider .slider-item .slider-info .slider-title {
      position: absolute;
      width: 65%;
      font-size: 1.5rem;
      font-weight: 600;
      color: #00a175;
      border-bottom: 1px solid #7777;
      text-align: center;
      bottom: auto; }
  .site-main .site-category .post-category {
    color: #00a175;
    font-size: 2.5rem !important; }
  .site-main .site-category .post {
    border-radius: 10px;
    background-color: #ffffff;
    cursor: pointer; }
    .site-main .site-category .post img {
      width: 100%;
      display: block;
      border-radius: 10px; }
    .site-main .site-category .post .post-title {
      font-size: 1.7rem;
      color: #0a0c0d;
      font-weight: 700;
      transition: color 0.3s ease; }
    .site-main .site-category .post:hover .post-title {
      color: #00a175; }
  .site-main .site-resources .resources-image-container {
    position: relative;
    background-color: #00a175; }
    .site-main .site-resources .resources-image-container .resources-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: 700;
      font-size: 1.5rem;
      color: #0a0c0d;
      width: 80%; }
    .site-main .site-resources .resources-image-container .resources-date {
      position: absolute;
      bottom: 15px;
      left: 60px;
      font-weight: 600;
      color: #0a0c0d; }
    .site-main .site-resources .resources-image-container .resources-image {
      opacity: 1;
      display: block;
      width: 100%;
      height: auto;
      transition: 0.5s ease;
      backface-visibility: hidden; }
    .site-main .site-resources .resources-image-container .resources-overlay {
      transition: 0.5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center; }
    .site-main .site-resources .resources-image-container .resources-icon {
      color: white;
      font-size: 3rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
      background-color: #ffffff;
      padding: 0.7rem;
      color: #00a175;
      border-radius: 10px; }
    .site-main .site-resources .resources-image-container:hover .resources-image {
      opacity: 0.3; }
    .site-main .site-resources .resources-image-container:hover .resources-overlay {
      opacity: 1; }
  .site-main .site-media .medias {
    position: relative; }
  .site-main .site-media .owl-media {
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    position: initial; }
    .site-main .site-media .owl-media .owl-stage-outer {
      position: initial; }
    .site-main .site-media .owl-media .owl-nav {
      position: absolute;
      display: block;
      width: 100%;
      left: 0;
      display: flex;
      justify-content: space-between;
      margin: 0; }
      .site-main .site-media .owl-media .owl-nav button {
        background-color: #00a175;
        padding: 1rem;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative !important;
        outline: none; }
        .site-main .site-media .owl-media .owl-nav button span {
          color: #ffffff;
          position: absolute;
          font-size: 3rem;
          position: absolute;
          top: 43%;
          left: 50%;
          transform: translate(-50%, -50%); }
  .site-main .site-media .media-container {
    border-radius: 30px;
    background-color: #ffffff;
    transition: all 0.3s ease;
    position: relative; }
    .site-main .site-media .media-container .media-image {
      transition: transform 0.3s ease;
      transform: scale(1); }
    .site-main .site-media .media-container .media-info {
      padding: 1rem;
      position: relative; }
      .site-main .site-media .media-container .media-info .media-date {
        color: #00a175; }
      .site-main .site-media .media-container .media-info .media-title {
        color: #0a0c0d;
        font-size: 1rem;
        font-weight: 600; }
    .site-main .site-media .media-container .media-icon-container {
      display: block;
      transition: 0.5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center; }
      .site-main .site-media .media-container .media-icon-container .media-icon {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        right: -5px;
        padding: 0.7rem;
        font-size: 1.5rem;
        color: #00a175;
        background-color: #ffffff;
        width: 60px;
        height: 60px;
        border-radius: 50%; }
    .site-main .site-media .media-container:hover .media-image {
      transform: scale(1.1); }
    .site-main .site-media .media-container:hover .media-icon-container {
      opacity: 1; }
  .site-main .site-get-involved .involved-container {
    padding: 2rem; }
    .site-main .site-get-involved .involved-container .involved-image {
      width: 50%; }
    .site-main .site-get-involved .involved-container .involved-title {
      font-size: 1.2rem; }
  .site-main .site-page-header .page-header-container {
    position: relative; }
    .site-main .site-page-header .page-header-container .page-image {
      width: 100%;
      height: 800px;
      display: block; }
    .site-main .site-page-header .page-header-container .page-name-container {
      position: absolute;
      left: 0px;
      top: 100px;
      transform: none;
      width: auto; }
      .site-main .site-page-header .page-header-container .page-name-container .page-name {
        color: #ffffff;
        position: relative;
        font-size: 2rem;
        padding: 0.5rem 2rem;
        z-index: 2; }
      .site-main .site-page-header .page-header-container .page-name-container .page-name-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.7;
        background-color: #00a175;
        z-index: 1; }
  .site-main .site-page-nav .page-nav-container {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    border-radius: 30px;
    background-color: #ffffff;
    transform: scale(1);
    transition: transform 0.3s ease; }
    .site-main .site-page-nav .page-nav-container:hover {
      transform: scale(1.05); }
    .site-main .site-page-nav .page-nav-container .page-nav-image {
      width: 25%;
      display: block; }
    .site-main .site-page-nav .page-nav-container .page-nav-icon-container {
      position: absolute;
      bottom: -10px;
      text-align: center;
      display: none; }
      .site-main .site-page-nav .page-nav-container .page-nav-icon-container .page-nav-icon {
        display: block;
        width: 30px;
        height: 30px;
        background-color: #00a175;
        color: #ffffff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center; }
    .site-main .site-page-nav .page-nav-container .page-active {
      display: flex; }
  .site-main .site-page-nav .page-nav-title {
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    color: #0a0c0d; }
  .site-footer .footer-top {
    padding: 2rem 0rem; }
    .site-footer .footer-top .site-container {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .site-footer .footer-top .site-container .footer-logo-container,
      .site-footer .footer-top .site-container .footer-link-title {
        height: 100px; }
      .site-footer .footer-top .site-container .footer-top-info {
        order: 1;
        width: 40%; }
        .site-footer .footer-top .site-container .footer-top-info .footer-logo-container .footer-logo {
          width: 70%;
          margin: inherit; }
        .site-footer .footer-top .site-container .footer-top-info .top-info {
          font-size: 1.2rem;
          font-weight: 600;
          font-style: italic;
          text-align: justify;
          color: #0a0c0d;
          padding: 1rem 0rem; }
      .site-footer .footer-top .site-container .footer-top-links {
        width: 40%;
        order: 2;
        display: flex;
        flex-direction: column; }
        .site-footer .footer-top .site-container .footer-top-links .footer-link-title {
          font-size: 2rem;
          color: #0a0c0d;
          font-weight: 600;
          margin: 0;
          text-align: left; }
        .site-footer .footer-top .site-container .footer-top-links .footer-links {
          padding: 1rem 0rem;
          margin: 0;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap; }
          .site-footer .footer-top .site-container .footer-top-links .footer-links .footer-link-element {
            flex: 1 200px; }
            .site-footer .footer-top .site-container .footer-top-links .footer-links .footer-link-element .footer-link {
              display: block;
              padding: 0.5rem 0rem;
              font-size: 1.2rem;
              font-weight: 600;
              color: #0a0c0d;
              text-align: initial; } }
